$gold-color: #cc9543;
$blue-color: #6abfc3;

@font-face {
  font-family: Norse;
  src: url("assets/Norsebold.otf") format("opentype");
}

.bg-gold {
  background-color: $gold-color;
}

.text-gold {
  color: #cc9543;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-center {
  @extend .d-flex;
  align-items: center;
}

.flex-end {
  @extend .d-flex;
  justify-content: flex-end;
}
.flex-j-center {
  @extend .d-flex;
  justify-content: center;
}

li {
  padding: 5px;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin: auto;
}

/* Navbar */

.logo-text {
  font-family: Norse, Arial;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  padding-left: 0.5em;
}

.nav {
  justify-content: space-evenly;
  margin-top: 20px;
}

/* Main */

.main-landing {
  padding: 50px 10px 50px 10px;
  text-align: center;
}

button {
  padding: 1rem 3.5rem;
  background-color: $blue-color;
  border-radius: 5px;
  border: $blue-color;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  margin-top: 50px;
}

.hero {
  width: 100%;
}

/* How it works */

.how,
.how-p {
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  padding-top: 50px;
}

.main-cards {
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.main-card {
  img {
    height: 165px;
    margin: 50px 0 50px;
  }
  h3 {
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
  }
}

/* You will learn */

.learn-images {
  padding-top: 60px;
}

.grid-learn-images {
  width: 850px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.learn-image img {
  height: 150px;
  margin: auto;
}

.learn-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 256px;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  padding: 23px 46px 25px;
  width: 254px;
  margin-top: 20px;
}

.learn-image-last {
  width: 67%;
}

/* Success stories */

.success-stories {
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #fff, #eee);
}
.success-story {
  margin: 40px 90px 40px 90px;
}

.success-story img {
  float: left;
  border-radius: 50%;
  height: 50px;
  margin: 0 10px 80px 10px;
}

.success-footer {
  margin: auto;
  text-align: center;
  padding: 50px;
}

/* Footer */

footer {
  padding-top: 50px;
}
.success-footer a {
  display: inline-block;
  margin-bottom: 80px;
}

.social-tags i {
  padding: 20px;
}

.web-map ul {
  padding: 50px;
}

/* Large */
@media (min-width: 992px) {
  .fa-bars {
    display: none;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.9px) {
  .fa-bars {
    display: none;
  }
  .grid-learn-images,
  .learn-image-last {
    width: 560px;
  }
}

/* Small */
@media (max-width: 767.9px) {
  .nav-list {
    display: none;
  }
  .grid-learn-images,
  .learn-image-last {
    width: 100%;
  }
}
